<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="description" content="{% block pagedesc %}{% endblock %}" />
        <title>{% block pagetitle %}{% endblock %} | siru.ink</title>
        <link rel="stylesheet" href="/assets/aquacore.css" />
    </head>
    <body>
        {% include "navigation" ignore missing %}
        {% block pagecontent%}{% endblock %}
        {% include "footer" ignore missing %}
    </body>
</html>
