{{define "title"}}Login{{end}}
{{define "content"}}
<h2>Login</h2>
<form method="POST" action="/auth/login/">
    <div>
        <label for="uname">Username</label>
        <input type="text" name="uname" id="uname" placeholder="siru | koto" required />
    </div>
    <div>
        <label for="passwd">Password</label>
        <input type="password" name="passwd" id="passwd" placeholder="Do you still remember?" required />
    </div>
    <!--<div>
        <label for="content">Content:</label>
        <textarea name="content" id="content" placeholder="Write out your heart..." required></textarea>
    </div>-->
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
{{end}}
